.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem; /* 24px */
}

@media (min-width: 1440px) {
  .textSection {
    width: 50%;
    align-items: flex-start;
    text-align: start;
  }
}
