/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Barlow:wght@400&family=Barlow+Condensed:wght@400&display=swap");

/* Text Presets (from Figma design system) */
/* font-size calculated taking base font size as 16px */
.text-preset-1 {
  font-family: "Bellefair", serif;
  font-size: 9rem; /* 144px */
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: "Bellefair", serif;
  font-size: 6.25rem; /* 100px */
  line-height: 114.6%;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: "Bellefair", serif;
  font-size: 3.5rem; /* 56px */
  line-height: 64.2%;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: "Bellefair", serif;
  font-size: 2rem; /* 32px */
  line-height: 36.7%;
  letter-spacing: 0;
}

.text-preset-5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.75rem; /* 28px */
  line-height: 33.6%;
  letter-spacing: 4px;
}

.text-preset-6 {
  font-family: "Bellefair", serif;
  font-size: 1.75rem; /* 28px */
  line-height: 1.15;
  letter-spacing: 0;
}

.text-preset-7 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem; /* 14px */
  line-height: 16.8%;
  letter-spacing: 2px;
}

.text-preset-8 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem; /* 16px */
  line-height: 19.2%;
  letter-spacing: 2px;
}

.text-preset-9 {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem; /* 18px */
  line-height: 1.8;
  letter-spacing: 0;
}
