.homePage {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (min-width: 768px) {
  .homePage {
    margin: 8rem; /*128px */
  }
}

@media (min-width: 1440px) {
  .homePage {
    margin: 8rem; /*128px */
  }
}
