.iconSection {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1.5rem 0;
}

.logo {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
}

.hamburgerIcon {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
}

.navbar {
  padding: 20px 0;
}

.navLink {
  color: white;
}
