.iconSection {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1.25rem 0; /* 20px */

  /* Always keep icons visible on top of everything else */
  position: relative;
  z-index: 1;
}

.logo {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
}

.hrLine {
  display: none;
}

.menuToggleButton {
  border: none;
  cursor: pointer;
  background: transparent;
}

.menuToggleIcon {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  align-self: center;
}

.navItem {
  padding: 1.25rem 0; /* 20px */
  color: white;
}

.navLink {
  color: white;
  text-decoration: none;
  padding-left: 5px;
  width: 100%;
  display: block;
  line-height: 1.125rem;
}

.active {
  border-right: 3px solid white;
  padding-right: 60%;
}

.menuSection {
  position: fixed;
  top: 0;
  right: 0;

  width: 67.5%;
  height: 100vh;
  max-width: 19.375rem; /* 310px */

  /* Adds a very light semi-transparent overlay with strong blur behind the menu */
  background-color: hsl(0 0% 0% / 0.1);
  backdrop-filter: blur(25px);

  padding: 8.5rem 3rem; /* 136px 48px */

  /* Sidebar transition setup: menu is hidden off-screen by default and slides in smoothly when opened */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menuOpen {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .menuToggleButton {
    display: none;
  }

  .logo {
    width: 3rem; /* 48px */
    height: 3rem; /* 48px */
  }

  .iconSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem; /* 40px */
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menuSection {
    /* Hide sidebar and disable its animation on tablet and larger screens */
    transform: none;
    transition: none;

    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem; /* 64px */
    flex: 1;

    width: 37.5rem; /* 600px */
    height: 6rem; /* 96px */
    max-width: none;
    padding: 0 2.5rem; /* 40px */

    background-color: hsl(0, 0%, 100%, 0.05);
  }

  .active {
    border-right: none;
    text-decoration: underline;
    text-underline-offset: 2.25rem; /* 36px */
    text-decoration-thickness: 0.25rem; /* 4px */
  }
}

@media (min-width: 1440px) {
  .navbar {
    padding-top: 2.5rem; /* 40px */
  }

  .iconSection {
    padding: 0 0 0 4rem; /* 64px */
    gap: 4rem; /* 64px */
  }

  .hrLine {
    display: block;
    width: 38.8vw;
    height: 1px;
    margin-right: -2.5rem; /* -40px */
    background-color: hsl(0, 0%, 100%, 0.25);
    border: none;
  }
}
