.layout {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;

  padding: 1.5rem; /* 24px */
}

@media (min-width: 600px) {
  .layout {
    padding: 0 2.5rem; /* 40px */
  }
}
